<tenants>
  <tenant>
    <name>ACME1</name>    
    <information>
      <externalId></externalId>
      <company>
        <name>ACHME Donald Company</name>
      </company>
    </information>
    <defaultAppSettings>
      <add key="LuceneIndexPath" value="C:\LuceneIndex\ContactCentre" />
      <add key="Theme" value="Blue" />
    </defaultAppSettings>
    <hostheaders>
      <host name="achme1.local.com" environment="Development" />
      <host name="achme1.dev.local.com" environment="Development" />
      <host name="achme1.staging.local.com" environment="Staging" />
      <host name="www.ms121.com" environment="Production">
        <appSettings>
          <add key="LuceneIndexPath" value="C:\Production\LuceneIndex\ContactCentre" />
        </appSettings>
      </host>
    </hostheaders>
  </tenant>
  <tenant>
    <name>ACME Drug ACME2</name>
    <information>
      <externalId></externalId>
      <company>
        <name>ACHME Micky Mouse Company</name>
      </company>
    </information>
  </tenant>
</tenants>