<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ACME Drug 1</title>
</head>
<body>
    <div>
        <h1>Achme Drug Company 1</h1>
        @RenderBody()
    </div>
</body>
</html>
