<Tenants>
  <tenant>
    <name>ACME1</name>    
    <information>    
      <programme>
        <id></id>
      </programme>
      <company>
        <name>ACHME Donald Company</name>
      </company>
    </information>
    <defaultAppSettings>
      
    </defaultAppSettings>
    <hostheaders>
      <host name="achme1.local.com" environment="Development" />
      <host name="achme1.dev.local.com" environment="Development" />
      <host name="achme1.staging.local.com" environment="Staging" />
      <host name="www.ms121.com" environment="Production">
        <appSettings />
      </host>
    </hostheaders>
  </tenant>
  <tenant>
    <name>ACME Drug ACME2</name>
    <information>
      <programme>
        <id></id>
      </programme>
      <company>
        <name>ACHME Micky Mouse Company</name>
      </company>
    </information>
  </tenant>
</Tenants>