<tenants>
  <tenant>
    <name>ACME1</name>    
    <information>
      <externalId></externalId>
      <company>
        <name>ACHME Donald Company</name>
      </company>
    </information>
    <defaultAppSettings />
    <hostheaders>
      <host name="achme1.local.com" environment="Development" />
      <host name="achme1.dev.local.com" environment="Development" />
      <host name="achme1.staging.local.com" environment="Staging" />
      <host name="www.achme1.com" environment="Production" />
    </hostheaders>
  </tenant>
  <tenant>
    <name>ACME2</name>
    <information>
      <externalId></externalId>
      <company>
        <name>ACHME Micky Mouse Company</name>
      </company>
    </information>
    <hostheaders>
      <host name="achme2.local.com" environment="Development" />
      <host name="achme2.dev.local.com" environment="Development" />
      <host name="achme2.staging.local.com" environment="Staging" />
      <host name="www.achme2.com" environment="Production">
        <appSettings />
      </host>
    </hostheaders>
  </tenant>
</tenants>